
.card-container {
  width: 10rem;
  height: 12rem;
  background-color: var(--card);  
  border: 4px solid var(--text-main);
  box-shadow: 6px 6px 0px var(--text-main);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: all 0.1s steps(2);  
}

.card-container:hover {
  background-color: var(--card-h); 
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px var(--text-main);
}

.card-container p{
  font-size: 14px;
}

.card-image {
  width: 5.5rem;
  image-rendering: pixelated;
}


 
@media screen and (min-width: 1024px){
.card-container {
  width: 13rem;
  height: 14rem;
  background-color: var(--card);  
  border: 4px solid var(--text-main);
  box-shadow: 6px 6px 0px var(--text-main);
}

.card-container:hover {
  background-color: var(--card-h); 
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px var(--text-main);
}

.card-container p{
  font-size: 16px;
}

.card-image {
  width: 9rem;
  image-rendering: pixelated;
}

}