
.Header-main{
  width: 100vw;
height: 6.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bg-header);
    color: var(--text-header);
    border-bottom: 4px solid var(--text-main);
}

.Header-texts{
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.message{
  margin-top: -0.8rem;  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.message p {
  margin: 0;
  font-size: 10px;
    transition: opacity 0.3s ease;
}

.Header-texts span{
    color: var(--text-header);
    text-shadow: 1px 1px 0px var(--text-main);
}
 
.divState-1{
  color: var(--lose) !important;
  opacity: 1;
}

.divState-2{
  color: var(--win) !important;
  opacity: 1;
}
.Header-level{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.controls-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    gap: 8px;
}

.controls-container select,
.controls-container button {
  font-size: 10px;
  background-color: var(--bt);        
  border: 2px solid var(--text-main);          
  padding: 8px 6px;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-weight: normal;
  
  box-shadow: 4px 4px 0px var(--text-main);
  border-radius: 0;

}

.controls-container select:hover,
.controls-container button:hover {
  background-color: var(--bt-h);
}

.controls-container select:active,
.controls-container button:active {
  box-shadow: 2px 2px 0px var(--text-main);
  transform: translate(2px, 2px);
}

.scores{
  margin-right: 5px;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0.5rem;
  gap: 1;
}
.scores p {
  margin: 2px auto;   
  padding: 0 3px;
  letter-spacing: 1px;
  line-height: 1.3;
}



@media screen and (min-width: 1024px){
.Header-main{
  width: 100%;
height: 6rem;
 
}

.controls-container{
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
}


.controls-container select,
.controls-container button {
  font-size: 14px;
  border: 4px solid var(--text-main);          
  padding: 10px 15px;
  margin-right: 10px;
  letter-spacing: 1px;
  box-shadow: 4px 4px 0px var(--text-main);
}


.controls-container select:hover,
.controls-container button:hover {
  background-color: var(--bt-h);
}

.controls-container select:active,
.controls-container button:active {
  box-shadow: 2px 2px 0px var(--text-main);
  transform: translate(2px, 2px);
}

.scores{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0.5rem;
}
.scores p {
  margin: 10px auto;   
  padding: 3px;
    letter-spacing: 0.5px;
  line-height: 0.8;
}

.message{
  height: 1rem;  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.message p {
  margin: 0;
  font-size: 0.8rem;
    transition: opacity 0.3s ease;
}
}