
@import "./styles/Header.css";
@import "./styles/CardGrid.css";
@import "./styles/Card.css";

:root {
  --bg: #c7d1b4;
    --bg-main:  #d4dbc2;
    --bg-soft:  #e6ecd8; 
    --bg-header: #5b6f3e;

    --bt:  #8fa76a;
    --bt-h: #9fb87a;
  

    --lose: #c76b6b;
    --win: #7fa58a;
    
    --text-main: #1f2a14;
    --text-subtle: #3b4a2a;
    --text-header: #f5f8ef;

    --card:  #b6c69a;
    --card-h: #9eb07d;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: var(--bg-main);
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Press Start 2P", monospace;
}

button, select, option {
  font-family: inherit;
}


.app-grid{
  max-height: 100%;  
  display: grid;
  grid-template-rows: auto 1fr;  
}

@media screen and (min-width: 1024px){
  .app-grid{
  min-height: 100vh;  
  display: grid;
  grid-template-rows: auto 1fr;  
}  
}